.kart{
    margin-left: 12%;
    margin-top: 30px;
    }
    .logo{
        margin-left: 11%;
        margin-top: 35px;
    }
.barca{
    margin-left: 13%;
    margin-top: 45px;
}
.barcaT{
    margin-left: 7%;
}

.liver{
    margin-left: 21%;
    margin-top: 9%;
}
.liverT{
    margin-left: 7%;
   
}

.bayer{
    margin-left: 24%;
    margin-top: 9%;
}
.bayerT{
    margin-left: 7%;
}

.rma{
    margin-left: 24%;
    margin-top: 9%;
}
.rmaT{
    margin-left: 7%;
}
